

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:not(i){
    font-family:'Poppins',sans-serif ;
}
body{
    width: 400px;
    height:400px;
    background-color: #ae9cff;
}
.container{
    background-color: #fff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    padding: 50px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.search-bar input{
    border: none;
    outline: none;
    width: 70%;
    border-bottom: 3px solid #ae9cff;
    font-size: 13px;
    padding: 3px;
}
.search-bar button{
    border: none;
    outline: none;
    width: 25%;
    color: #fff;
    background-color: #ae9cff;
    border-radius: 5px;
    padding: 3px 0;
    font-size: 13px;
}
.result{
    position: relative;
}
.result h3{
    font-size: 20px;
    color: #1f194c;
}
.word{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
/* .result button{
    outline: none;
    border: none;
    color: #ae9cff;
    background: transparent;
    font-size: 18px;
} */
.details{
    display: flex;
gap:10px;
color: #b3b6d4;
margin: 5px 0 20px 0;
font-size: 13px;
}
.word-meaning{
    color: #575a7b;
}
.word-example{
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 20px;
}
.error {
    margin-top: 80px;
    text-align: center;
}
